.about-section {
  padding: 60px 0;
  background-color: #1c1c1c;
  color: #e0e0e0;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.about-left {
  flex: 1 1 60%;
}

.about-right {
  flex: 1 1 35%;
  border: 1px solid #444;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #111;
}

.about-title {
  color: #00ffe7;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.summary-title {
  color: #00ffe7;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.summary-item {
  margin-bottom: 1.2rem;
}

.highlighted {
  color: rgb(219, 118, 87);
  margin-top: 1rem;
}

.achievement {
  color: rgb(92, 205, 203);
  margin-top: 1rem;
  font-weight: bold;
}

.paperName {
  font-style: italic;
  color: rgb(92, 205, 203);
  margin-left: 0.3rem; 
}



.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.skill-badge {
  background: repeating-linear-gradient(45deg, #1bd1cb, #5c9698 10px);
  color: #ffffff;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.9rem;
  transition: transform 0.3s ease, background-color 0.3s;
}

.skill-badge:hover {
  transform: scale(1.1);
  background-color: #00e6d2;
}











.buttonWrapper {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}







.downloadResume {
  display: inline-block;
  margin-top: 1.5rem;
  background: linear-gradient(135deg, rgb(0, 85, 255), rgb(0, 255, 191));
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.downloadResume a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.downloadResume:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  background: linear-gradient(135deg, rgb(0, 255, 191), rgb(0, 85, 255));
}



.checkPaper {
  display: inline-block;
  margin-top: 1.5rem;
  background: linear-gradient(135deg, rgb(0, 85, 255), #ffffff, rgb(0, 255, 191));
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

  color: #000000;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.checkPaper a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.checkPaper:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  background: linear-gradient(135deg, rgb(0, 255, 191), #ffffff, rgb(0, 85, 255));
}
