body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

.content {
  margin-left: 180px;
  padding: 0;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #0d6efd;
}
